<div class="save_photos_div">
  <%= form_for(@product_photo, url: product_photos_path, html: { multipart: true, class: "dropzone", "data-replace-value" => ".product_photo_ids"}) do |f|  %>
    <div class="fallback">
      <%= f.file_field :photo %><br>
    </div>
    <input type="hidden" class="product_photo_ids" value=""/>
    <input type="hidden" class="preview_element" value=""/>
  <% end %>
  <div class="form-actions">
    <a href="javascript:;" class="btn-upper btn btn-success save_photos pull-right" data-save-what=".product_photo_ids" data-save-to="<%= params[:data_replace_value] %>"><%= t"Save Photos" %></a>
  </div>
</div>