<h3>one two three</h3>
<%= form_for(@product_photo, url: product_photos_path, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :photo %><br>
  </div>
<% end %>