<h3>one two three</h3>
<%= form_for @product_photo, :url => product_photos_path(@product_photo), html: {class: "form-vertical register-form outer-top-xs product-form form_ajax dropzone", method: "POST", :remote => true} do |f| %>
<% end %>