<% view_mode = local_assigns.fetch(:view_mode, nil) %>


<% if view_mode == "checkout-review" %>
  <% variant = entity.product_variant %>
  <% product = variant.product %>
  <tr>
    <td>
      <dl>
        <dt><%= product.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>x <%= entity.quantity %> </em></dt>
        <% unless variant.is_default_variant? %> 
          <dd><%= variant.name %></dd>
        <% end %>
      </dl>
    </td>
    <td>
      <%= number_to_currency(entity.total_price) %>
    </td>
  </tr>
<% end %>