<div class="breadcrumb breadcrumb-unstyled">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled nopadding">
        <li><a href="/"><%= t"Home" %></a></li>
        <li><a href="<%= products_path %>"><%= t"Stores" %></a></li>
      </ul>
    </div>
  </div>
</div>

<%= render :partial => "main_pd_index" %>